<h1>Articles | <%= link_to "New Article", new_article_path %></h1>

Our blog has <%= Article.public_count %> articles and counting!


  <% @articles.each do |article| %>
    <h2>
      <%= link_to article.title, article %>
    </h2>
  <% end %>

<div>
  <%= link_to "Previous page", articles_path(page: @page - 1)%>
  |
  <%= link_to "Next page", articles_path(page: @page + 1) %>
</div>


