<h1>
<%= @article.title %>
 | 
 <%= link_to "Edit", edit_article_path(@article) %> 
 | 
 <%= link_to "Destroy", article_path(@article),method: :delete,data: { confirm: "Are you sure?" } %>
 </h1>


<p><%= @article.body %></p>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>


